---
// javascript stuff goes here, between the hyphens ---
import "../layouts/MainLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title={"Projects | Mohamed A."}>
    <h1>Projects page</h1>
</MainLayout>
