---
import Icon from "./Icon.astro";

/** Test if a link is pointing to the current page. */
const isCurrentPage = (href: string) => {
	let pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
	if (pathname.at(0) !== "/") pathname = "/" + pathname;
	if (pathname.at(-1) !== "/") pathname += "/";
	return pathname === href || (href !== "/" && pathname.startsWith(href));
};
---

<nav>
	<div class="menu-header">
		<a href="/" class="nav_link">
			<Icon
				icon="house"
				color="var(--accent-regular)"
				size="1.6em"
				gradient
			/>
			Home
		</a>
		<a
			href="https://github.com/GizmoAhmed"
			class="nav_link"
			target="_blank"
			rel="noopener noreferrer"
		>
			<Icon
				icon="github-logo"
				color="var(--accent-regular)"
				size="1.6em"
				gradient
			/>
			GitHub
		</a>
		<a
			href="https://www.linkedin.com/in/mohamed-ahmed-460a2a240/"
			class="nav_link"
			target="_blank"
			rel="noopener noreferrer"
		>
			<Icon
				icon="linkedin-logo"
				color="var(--accent-regular)"
				size="1.6em"
				gradient
			/>
			LinkedIn
		</a>
		<a
			href="https://gizmo435.itch.io/"
			class="nav_link"
			target="_blank"
			rel="noopener noreferrer"
		>
			<Icon
				icon="game-controller"
				color="var(--accent-regular)"
				size="1.6em"
				gradient
			/>
			Itch.io
		</a>
		<a
			href="https://mail.google.com/mail/u/0/?fs=1&to=mohman1232@gmail.com&su=&body=&bcc=&tf=cm"
			class="nav_link"
			target="_blank"
			rel="noopener noreferrer"
		>
			<Icon
				icon="paper-plane-tilt"
				color="var(--accent-regular)"
				size="1.6em"
				gradient
			/>
			Contact Me
		</a>
	</div>

	<style>
		.menu-header {
			display: flex;
			flex-wrap: wrap; 
			justify-content: center;
			gap: 2rem; 
			padding: 2rem;
			text-align: center;
		}

		.nav_link {
			display: flex;
			gap: 0.5rem;
			align-items: center;
			justify-content: center;
			color: var(--gray-0);
			text-decoration: none;
			font-size: 1rem;
			flex: 1 1 100%; 
		}

		@media (min-width: 32em) {
			.menu-header {
				flex-wrap: nowrap;
				justify-content: center;
				gap: 4rem;
				padding: 3.5rem;
			}

			.nav_link {
				flex: 0 0 auto;
				font-size: 1.1rem;
			}
		}
		
	</style>
</nav>
